body{
	background-image:url("teste00.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

}

/*-------------------------------------------------------------------------------    NavBar    -------------------*/

li a:hover{

	text-decoration: none;
	background-color: orange;
	color: white;
	border-radius: 5px 5px 5px 5px; 
	text-shadow: 2px 2px 3px black;
}

li a{

	color: white;
}


nav div h3{

	color: orange;
	text-shadow: 2px 2px 3px grey;

}



/*--------------------------------------------------------------------------------    resto    ----------------------*/


div#myCarousel{

	/*border: 1px solid orange;*/
	box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2), 0 6px 20px 0 rgba(160, 160, 160, 0.19);
	border-radius: 10px 10px 10px 10px;
	margin-top: 25px;
	margin-left: 200px;
	margin-right: 250px;
	margin-bottom: 25px;
	background-color: rgba(60,60,60, 0.8);
	width: 1000px;
	height: 500px;
	text-align: center;
	padding: 20px;
	


}

div img{

	border-image-width: 200px;

}
/*
div#divGeral{

	background-color: rgba(60, 60, 60, 0.5);
	background-size: cover;
	height: 91%;
}*/