body{
	background-image:url(https://images3.alphacoders.com/169/thumb-1920-169127.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario{
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:auto;
	margin-top:-97px;
}