body{

	background-image:url("teste00.jpg");
	height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   

}

/*-------------------------------------------------------------------------------    NavBar    -------------------*/
	
li a:hover{

	text-decoration: none;
	background-color: orange;
	color: white;
	border-radius: 5px 5px 5px 5px; 
	text-shadow: 2px 2px 3px black;
}

li a{

	color: white;
}


nav div h3{

	color: orange;
	text-shadow: 2px 2px 3px grey;

}

form{

	border-radius: 10px 10px 10px 10px;
	margin: 90px;
	padding: 50px;
	background-color: rgba(255,255,255, 0.9);
	color: black;
	text-shadow: 2px 2px 3px white;

}

div#opc button{

	background-color: orange;
	border-color: orange;
}