body{

	background-image:url("../images/teste00.jpg");
	height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

   

}

/*-------------------------------------------------------------------------------    NavBar    -------------------*/
	
li a:hover{

	text-decoration: none;
	background-color: orange;
	color: white;
	border-radius: 5px 5px 5px 5px; 
	text-shadow: 2px 2px 3px black;
}

li a{

	color: white;
}


nav div h3{

	color: orange;
	text-shadow: 2px 2px 3px grey;

}

/*------------------------------------------------------------------------------   form    ------------------------*/

form{

	border-radius: 10px 10px 10px 10px;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 50px;
	padding: 50px;
	background-color: rgba(255,255,255, 0.9);
	color: black;
	text-shadow: 2px 2px 3px white;
	width: 40%;
	height: 40%;

}

a#entrada{
	text-decoration: none;
	color: white;
	background-color: orange;
	border-color: orange;
	border-radius: 5px 5px 5px 5px;
	padding: 12px;
	text-shadow: 2px 2px 3px black;
}

div#opc{

	margin-top: 30px;
}

a#reg{

	color: orange;
	margin-left: 10px;

}

